body{
    background-color: #eee;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2.5rem;
}

img{
    max-width: 10rem;
    border-radius: 2rem;
}

.header{
    background-image: radial-gradient(circle, rgba(238,174,202,1) 0%, rgba(148,187,233,1) 100%);
    background-clip: text;
    color: transparent;
    font-size: 4rem;
    border-bottom: 1px dotted black;
    border-radius: 0.8rem;
}

.buttons{
    display: flex;
    flex-wrap: wrap;
    gap: 3rem;
}

.buttons > *{
    border-radius: 2rem;
    border-color: hotpink;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
}

button:hover{
    cursor: pointer;
}

.score{
    border: 2px solid hotpink;
    border-radius: 2rem;
    padding: 0rem 4rem;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
    align-items: center;
    justify-content: center;
}

.score > p{
    text-decoration: underline;
}

.score > div{
    font-size: 1.3rem;
}